@page
@using WebApplication1.Pages.Shared
@model WebApplication1.Pages.AllDetails

@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h2>Список Деталей:</h2>
    <table>
        <tr><th>Name</th><th>Quantity</th></tr>
        @foreach(Detail detail in Model.DisplayedDetails)
        {
            <tr>
                <td>@detail.Name</td>
                <td>@detail.Quantity</td>
            </tr>
        }
    </table>
</div>
</body>
</html>