@page
@model WebApplication1.Pages.AssemblyViewAll

@{
    Layout = "Shared/_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    @foreach (Assembly assembly in Model.Assemblies)
    {
      <h3>Сборка: @assembly.Name </h3>
          <h3>Количество частей: @assembly.Parts.Count </h3>
          <h3>Список частей: </h3>
          <table>
              <tr><th>Name</th><th>Quantity</th></tr>
              @foreach (Part part in assembly.Parts)
              {
                  <tr>
                      <td>@part.DetailName</td>
                      <td>@part.Quantity</td>
                  </tr>
              }
          </table> 
        
    }
    
</div>
</body>
</html>