@page
@model WebApplication1.Pages.AssemblyView

@{
    Layout = "Shared/_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <form method="post">
        <p>
            <label asp-for="AssemblyName">Название</label><br/>
            <input type="text" asp-for="AssemblyName"/>
        </p>
        <button type="submit" asp-page-handler="ID">
            Ввод
        </button>
        <button type="submit" asp-page-handler="All">
            Все сборки
        </button>
    </form>
</div>
</body>
</html>