@page
@model WebApplication1.Pages.AssemblyCreate

@{
    Layout = "Shared/_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <form method="post" asp-antiforgery="true">
        <p>
            <label asp-for="Assembly.Name">Название</label><br/>
            <input type="text" asp-for="Assembly.Name"/>
        </p>
        <input type="submit" value="Отправить"/>
    </form>
</div>
</body>
</html>