@page
@model WebApplication1.Pages.AssemblyDeletedOk

@{
    Layout = "Shared/_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <div class="text-center">
              <h1 class="display-4">Сборка успешно удалена</h1>
        </div>
</div>
</body>
</html>