@page "{Name}"
@using System.Runtime.InteropServices.JavaScript
@model WebApplication1.Pages.AssemblyEditingForm

@{
    Layout = "Shared/_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <form method="post" asp-antiforgery="true">
        <p>
            <input type = "hidden" value ="@Model.Assembly.Id" asp-for="Assembly.Id"/>
        </p> 
        <p>
            <label asp-for="Assembly.Name">Название</label><br/>
            <input type="text" value="@Model.Assembly.Name" asp-for="Assembly.Name"/>
        </p>
        <button id="addParts" type="button" class="btn btn-info">Список деталей</button>
        <button id="addRow" type="button" class="btn btn-info">Добавить деталь в сборку</button>
        <div id="newRow">
            <input type="hidden" id="total" value="0" />
        </div>
        <input type="submit" class="btn btn-primary"  value="Отправить" />
    </form>
</div>
</body>
</html>

@section Scripts
{
    <script>
     $("#addParts").click(function (){
         var rowCount = parseInt($("#total").val());;
         @for(int i=0; i<Model.PartsTemp.Count; i++){
             @: rowCount++;
             @: $("#total").val(rowCount);
             @: var html = '';
             @: html += '<div id="inputRow">';
             @: html += '<input type="text" value="@Model.PartsTemp[i].DetailName" name="[' + (rowCount - 1) + '].DetailName"  />';
             @: html += '<input type="number" value="@Model.PartsTemp[i].Quantity" name="[' + (rowCount - 1) + '].Quantity"  />';
             @: html += '<button id="removeRow" type="button" class="btn btn-danger">Remove</button>';
             @: html += '</div>';
             @: $('#newRow').append(html);
         }
     });
     $("#addRow").click(function ()
     {
         var rowCount = parseInt($("#total").val());
         rowCount++;
         $("#total").val(rowCount);
         var html = '';
         html += '<div id="inputRow">';
         html += '<input type="text" name="[' + (rowCount - 1) + '].DetailName"  />';
         html += '<input type="number" name="[' + (rowCount - 1) + '].Quantity"  />';
         html += '<button id="removeRow" type="button" class="btn btn-danger">Remove</button>';
         html += '</div>';
    
         $('#newRow').append(html);
     });
     $(document).on('click', '#removeRow', function ()
     {
         var rowCount = parseInt($("#total").val());
         rowCount--;
         $("#total").val(rowCount);
         $(this).closest('#inputRow').remove();
     });
     </script>
}
