@page "{Name}"
@model WebApplication1.Pages.AssemblyViewID

@{
    Layout = "Shared/_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h3>Сборка: @Model.Assembly.Name </h3>
    <h3>Количество частей: @Model.Parts.Count </h3>
    <h3>Список частей: </h3>
    <table>
            <tr><th>Name</th><th>Quantity</th></tr>
            @foreach(Part part in Model.Parts)
            {
                <tr>
                    <td>@part.DetailName</td>
                    <td>@part.Quantity</td>
                </tr>
            }
        </table>
</div>
</body>
</html>