@page
@model WebApplication1.Pages.AssemblyEditingOk

@{
    Layout = "Shared/_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <div class="text-center">
              <h1 class="display-4">Здание успешно изменена</h1>
        </div>
</div>
</body>
</html>