@page
@model WebApplication1.Pages.BuildingCreatingOk

@{
    Layout = "Shared/_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <div class="text-center">
          <h1 class="display-4">Сборка успешно создана</h1>
      </div>  
</div>
</body>
</html>