@page "{Name}"
@model WebApplication1.Pages.EditingForm

@{
    Layout = "Shared/_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <form method="post" asp-antiforgery="true">
        <p>
            <input type = "hidden" value ="@Model.detail.Id" asp-for="detail.Id"/>
        </p> 
        <p>
            <label asp-for="detail.Name">Название</label><br/>
            <input type="text" value="@Model.detail.Name" asp-for="detail.Name"/>
        </p>
        <p>
            <label asp-for="detail.Quantity"></label><br/>
            <input value="@Model.detail.Quantity" asp-for="detail.Quantity"/>
        </p>
        <input type="submit" value="Отправить"/>
    </form>
</div>
</body>
</html>