@page
@model WebApplication1.Pages.DetailEditing

@{
    Layout = "Shared/_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
   <form method="post" asp-antiforgery="true">
           <p>
               <label asp-for="DetailName">Название</label><br/>
               <input type="text" asp-for="DetailName"/>
           </p>
       <input type="submit" value="Отправить"/>
       </form> 
</div>
</body>
</html>