@page
@model WebApplication1.Pages.NoAssemblyDelete

@{
    Layout = "Shared/_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <div class="text-center">
              <h1 class="display-4">Сборки с таким именем не существует</h1>
          </div>  
</div>
</body>
</html>