@page
@model WebApplication1.Pages.ThereNoDetail

@{
    Layout = "Shared/_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <div class="text-center">
          <h3 class="display-4">Похоже что такой детали нет. Вы хотите создать ее?</h3>
    </div>  
     <form method="post">
    <button type="submit" asp-page-handler="yes">
        Да
    </button>
    <button type="submit" asp-page-handler="no">
        Нет
    </button>
    </form>
</div>
</body>
</html>